/* login button from home-page */
#login {


    margin-right: 15px;
}


#cart-icon {

    width: 40px;
}

/* Border table for cart order */
.borderless td, .borderless th {
    border: none;
}

/* Cart qauntity button */
.cart-quantity {
    width: 40px;
    background-size: cover;

}

/* Checkout table 1 height */
.checkout-table1 {
    margin-top: 150px;
}

/* Checkout table 2 height */
.checkout-table2 {
    margin-top: 150px;
}


/* Paypal hidden */
.hidden {
    display: none;
}
